  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway',sans-serif;
    text-decoration: none;
  }
    .back-button {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 9999;
}

.back-button img {
  width: 50px;    /* Increase the width value */
  height: 50px;   /* Increase the height value */
  border-radius: 50%;
  border: 2px solid #0c0707;
  transition: border-color 0.3s ease;
  background-image: white;
}

.back-button:hover img {
    border-color: #49fffc;
}

.back-button:hover {
    background-color: #74fdff;
}

/* Optional styles for the button appearance */
.back-button {
    display: inline-block;
    padding: 5px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

  .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000;
  }
  .wrapper img{
    width: 60px;
    height: auto;
}
   
  
